<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml">
<head th:insert="~{link}">
    <meta charset="UTF-8">
    <title>Categories</title>
</head>
<body>
<div class="container">
    <div th:insert="~{navbar}"></div>
    <br>
    <div layout:fragment="content">
        <div class="container mt-5">
            <h2>Update Task</h2>
            <form method="post" th:action="@{'/updateTask/'+${tasks.getId()}}" th:object="${tasks}">
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Title" th:field="*{title}" required>
                </div>
                <div class="form-group">
                    <label for="status">Status:</label>
                    <select class="form-control" id="status" name="status" th:field="*{status}" required>
                        <option th:value="0">TO DO</option>
                        <option th:value="1">TEST</option>
                        <option th:value="3">DONE</option>
                        <option th:value="4">FAILED</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea class="form-control" id="description" name="description" rows="3" placeholder="Description" th:field="*{description}"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">UPDATE</button>
            </form>
            <br>
            <form th:action="@{'/deleteTask/'+${tasks.getId()}}" method="post">
                <button type="submit" class="btn btn-danger">DELETE</button>
            </form>

            <hr>

            <h3>Comments</h3>
            <div th:each="comment : ${tasks.comments}">
                <div class="card mb-2">
                    <div class="card-body">
                        <p class="card-text" th:text="${comment.comment}">Comment text</p>
                    </div>
                </div>
            </div>

            <form method="post" th:action="@{/comments/addComment}">
                <div class="form-group">
                    <textarea class="form-control" id="commentText" name="text" rows="2" placeholder="Add a comment..." required></textarea>
                    <input type="hidden" name="taskId" th:value="${tasks.id}">
                </div>
                <button type="submit" class="btn btn-success">Add Comment</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>